body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f4f7ff;
}

// font-family: 'Sansita Swashed', cursive;
// font-family: 'Source Sans Pro', sans-serif;

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}